altgraph==0.17.4
blinker==1.8.2
buildozer==1.5.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
customtkinter==5.2.2
darkdetect==0.8.0
distlib==0.3.8
docutils==0.21.2
filelock==3.15.4
Flask==3.0.3
gunicorn==22.0.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
kivy-garden.filebrowser==1.1.2
MarkupSafe==2.1.5
packaging==24.1
pefile==2023.2.7
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.2.2
ptyprocess==0.7.0
Pygments==2.18.0
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pypiwin32==223
pytube==15.0.0
pywin32==306
pywin32-ctypes==0.2.2
requests==2.32.3
setuptools==70.3.0
sh==2.0.7
tk==0.1.0
ttkthemes==3.2.2
urllib3==2.2.2
virtualenv==20.26.3
waitress==3.0.0
Werkzeug==3.0.3
# also change pytube file abit link:
https://stackoverflow.com/questions/68945080/pytube-exceptions-regexmatcherror-get-throttling-function-name-could-not-find
